.notes-page,
.archive-page,
.trash-page {

padding:30px;

min-height:100vh;

background:#f8fafc;

}



.notes-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}


.notes-header h1,
.archive-page h1,
.trash-page h1{

font-size:32px;

font-weight:700;

color:#111827;

}



.create-btn{

display:flex;

align-items:center;

gap:8px;

background:#2563eb;

color:white;

border:none;

padding:12px 20px;

border-radius:12px;

font-weight:600;

cursor:pointer;

}



.create-btn:hover{

background:#1d4ed8;

}



.search-container{

position:relative;

width:100%;

margin-bottom:30px;

}



.search-container input{

width:100%;

padding:15px 50px;

border-radius:14px;

border:1px solid #ddd;

font-size:16px;

outline:none;

background:white;

}



.search-container input:focus{

border-color:#2563eb;

}



.search-icon{

position:absolute;

left:18px;

top:15px;

font-size:24px;

color:#64748b;

}



.clear-search{

position:absolute;

right:15px;

top:12px;

border:none;

background:none;

font-size:24px;

cursor:pointer;

color:#64748b;

}



.notes-grid{

display:grid;

grid-template-columns:

repeat(auto-fill,minmax(280px,1fr));

gap:25px;

}



.note-card{

background:white;

border-radius:20px;

padding:22px;

box-shadow:
0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}



.note-card:hover{

transform:translateY(-5px);

}



.note-card-header{

display:flex;

justify-content:space-between;

gap:15px;

}



.note-card h3{

font-size:20px;

font-weight:700;

color:#111827;

}



.note-actions{

display:flex;

gap:8px;

}



.note-actions button{

border:none;

background:#f1f5f9;

width:34px;

height:34px;

border-radius:10px;

cursor:pointer;

display:flex;

align-items:center;

justify-content:center;

}



.note-actions button:hover{

background:#2563eb;

color:white;

}



.note-content{

margin-top:18px;

color:#475569;

line-height:1.6;

min-height:90px;

}



.note-footer{

display:flex;

justify-content:space-between;

margin-top:20px;

font-size:14px;

color:#64748b;

}



.empty-state{

background:white;

padding:60px;

text-align:center;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,.06);

}